.services {
    padding: 60px 40px;
    background: white;
}

.services-container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    text-align: center;
}

.services-title {
    font-size: 32px;
    margin-bottom: 40px;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 0 15px; 
  max-width: 1200px;
  margin: 0 auto;
}

/* Service Card */
.service-card {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    background: #fff;
    border-radius: 16px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
    transition: all 0.3s ease;
    cursor: pointer;
}

/* Image */
.service-card img {
    height: 120px;
    border-radius: 10px;
    object-fit: contain;
    margin-bottom: 15px;
}

/* Title */
.service-card h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #09caec;
}

/* Description */
.service-card p {
    font-size: 14px;
    line-height: 1.5;
    color: #292828;
    font-weight: 500;
}

/* Hover Effect (Desktop only feel) */
.service-card:hover {
    transform: translateY(-8px) scale(1.02);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.12);
    border: 2px solid #06b6d4;
}

.services-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.services-info img {
    height: 70px;
}

.services-info p {
    font-size: 20px;
    margin-left: 5px;
    color: red;
    font-weight: bold;
}

.services-bottom {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    font-weight: 600;
}

.services {
    scroll-margin-top: 90px;
}

/* Mobile Responsiveness */
/* @media (max-width:768px) {
    .services-grid {
        padding: 0 15px;
        gap: 20px;
    }
} */

@media (max-width: 768px) {
  .services {
    padding: 40px 10px;
  }
}

@media (max-width: 768px) {
  .services-grid {
    grid-template-columns: 1fr;
    padding: 0 8px; 
    gap: 15px;
  }
}

/* For tablets */
@media (max-width: 1024px) {
  .services-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* For mobiles */
@media (max-width: 768px) {
  .services-grid {
    grid-template-columns: 1fr;
    padding: 0 15px;
  }
}