
.booking{
    padding: 60px 40px;
    background: #f9f9f9;
}

.booking-container{
    width: 100%;
    max-width: 500px;
    margin: auto;
    text-align: center;
}

.booking-container h2{
    font-size: 32px;
    margin-bottom: 25px;
}

.booking-form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.booking-form input{
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 15px;
}

.booking-form select{
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 15px;
}

.booking-form button{
    padding: 12px;
    background-color: #2c7be5;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: 600;
    border-radius: 6px;
    cursor: pointer;
}

.booking-form button:hover{
    background-color: #1a5edb;
}

.booking{
    scroll-margin-top: 90px;
}

.success-msg{
    color: green;
    margin-bottom: 10px;
}

.error-msg{
    color: red;
    margin-bottom: 10px;
}